@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&family=Oswald:wght@500&display=swap');
/*
    font-family: 'Asap', sans-serif;
    font-family: 'Oswald', sans-serif;
*/
/* #topo p{
    font-size: 1.2rem;
} */

html{
    font-size: 16px;
}

body{
    font-family: 'Oswald', sans-serif;
}

h1,h2,h3{
    font-family: 'Asap', sans-serif;
}