@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&family=Oswald:wght@500&display=swap');
/*
    font-family: 'Asap', sans-serif;
    font-family: 'Oswald', sans-serif;
*/
/* #topo p{
    font-size: 1.2rem;
} */

/* nav ul{
display: flex;
flex-direction: row;
list-style: none;
}

nav ul li{
    flex-grow: 2;
}
 */


html{
    font-size: 16px;
}

body{
    font-family: 'Oswald', sans-serif;
}

h1,h2,h3{
    font-family: 'Asap', sans-serif;
}

.botao{
    color: #ffffff;
    text-decoration: none;
    padding:10px 30px;
    background-color: #191970;
    font-size: 0.9em;
    border-radius: 3px;
}

/* Navbar */

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav  a{
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Asap', sans-serif;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

/* Cabeçalho */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/fundo-pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1{
    color: #ffffff;
}

header p{
    margin-bottom: 2em;
}

/* Sobre */

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #ffffff;
}

#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre h2{
    color: #ffffff;
}

#sobre .botao{
    background-color: #f1f1f1;
    color: #1c1c1c;
}


/* Serviços */
#servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#servicos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#servicos div img{
    width: 80%;
    transform: scale(80%);
    transition: ease-in transform 0.5s;
}

#servicos div img:hover{
    transform: scale(100%);
}

#servicos h2{
    margin-bottom: 20px;
}

